<h2>КОНТАКТЫ</h2>

<h3>Москва</h3>

<p class="central">ул Пушкина, дом Колотушкина,<br>
станция метро Петровско-Разумовская

<h3>+7 228-1488-1337</h3>


<p class="central">ул Пушкина, дом Колотушкина,<br>
станция метро Петровско-Разумовская</p>

<h3>+7 228-1488-1337</h3>

<p class="central">ул Пушкина, дом Колотушкина,<br>
станция метро Петровско-Разумовская</p>

<h3>+7 228-1488-1337</h3>

<p class="central">ул Пушкина, дом Колотушкина,<br>
станция метро Петровско-Разумовская</p>

<h3>+7 228-1488-1337</h3>

<p class="central">ул Пушкина, дом Колотушкина,<br>
станция метро Петровско-Разумовская</p>

<h3>+7 228-1488-1337</h3>

<p class="central">ул Пушкина, дом Колотушкина,<br>
станция метро Петровско-Разумовская</p>

<h3>+7 228-1488-1337</h3>

<p class="central">ул Пушкина, дом Колотушкина,<br>
станция метро Петровско-Разумовская</p>

<h3>+7 228-1488-1337</h3>

<p class="central">ул Пушкина, дом Колотушкина,<br>
станция метро Петровско-Разумовская</p>

<h3>+7 228-1488-1337</h3>

<style>.central{text-align: center;}</style>
