
		<style>h3{text-align: left;margin:0 32px 32px 32px}</style>

		<h2 style="margin-top:0px !important">КОНТАКТЫ</h2>

		<h3 style="text-align:;">Москва</h3>

		<p>ул Пушкина, дом Колотушкина,<br>
		станция метро Петровско-Разумовская<br>
		<h3 style="text-align:left;">+7 228-1488-1337</h3></p>


		<p>ул Пушкина, дом Колотушкина,<br>
		станция метро Петровско-Разумовская<br>
		<h3 style="text-align:left;">+7 228-1488-1337</h3></p>

		<p>ул Пушкина, дом Колотушкина,<br>
		станция метро Петровско-Разумовская<br>
		<h3 style="text-align:left;">+7 228-1488-1337</h3></p>

		<p>ул Пушкина, дом Колотушкина,<br>
		станция метро Петровско-Разумовская<br>
		<h3 style="text-align:left;">+7 228-1488-1337</h3></p>
	
